#remote_video_box, #local_video_box {
    border: 2px solid purple;
    min-height: 200px; 
    background-color: gray; 
}

#local_video_box {
    border: 2px solid rgb(214, 96, 0);
    min-height: 100px; 
    max-width: 50px;
    background-color: gray; 
}
